# Конфигурационный файл системы резервного копирования

# Если 1, то будет выводиться информация о том, что происходит в данный момент времени
# Если 0, то будут выводиться только информация об ошибках
debug = 1

# Имя сервера, на который будет происходит резервное копирование
# Хост, порт, имя пользователя прописывается в ~/.ssh/config
# К машине должно быть настроено подключение по ssh без пароля
backup_server_name = backup

# Папка в которую будут сохранятся бекапы
backup_server_dir = /home/user/backup

# Начало имени файла с резервной копией.
# К этой строке будет дописано "YYYY-MM-DD.tar.nc", вместо YYYY-MM-DD будет указана дата
# Пример: backup_2009-09-18.tar.nc
filename = test_backup_

# Временная папка, в которой будет собиратся файлы дла бекапа,
# потом там все будет архивироватся, шифроватся, а после отправки все будет удалено
tmp_dir = /root/backup

# Через сколько дней файлы будут удалятся
# (Останется файл которй был залит сегодня плюс вот это число старых файлов)
days_keep = 30

# Если 1, то файлы бекапов от 1-ого числка каждого месяца не будут удалятся
# Если 0, то будут хранится только файлы указанное количество дней
keep_first_day_backup = 1

# Список папок, которые нужно бекапить
dir = /tmp/dir1/
dir = /tmp/dir2/

# Список файлов, которые нужно бекапить
file = /etc/backup.conf
file = /root/backup.conf

# Учетные данные для бекапа mysql базы
# Будут бекапится все базы данных
mysql_host = 127.0.0.1
mysql_port = 3306
mysql_user = backuper
mysql_password = password

